<div class="container mt-4">
  <div class="row">
    <div class="col-md-9 mb-4">
      <input type="text" class="form-control" [(ngModel)]="searchValue">
    </div>
    <div class="col-md-3">
     <select class="form-control" id="" (change)="onSelect(eleRef)" #eleRef>
      <option value="Filterby">Filter by</option>
      <option value="name">Filter by name</option>
      <option value="odiruns">Filter By odiruns</option>
      <option value="testRuns"> Filter by testRuns</option>
      <option value="yearDebut"> Filter by yearDebut</option>
     </select>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 offset-md-1">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Sr No</th>
          <th>Name</th>
          <th>Team</th>
          <th>ODI RUNS</th>
          <th>TEST RUNS</th>
          <th>Year Debut</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let std of cricketArr | filterPipe : searchValue : selectValue ; index as i">
          <td>{{i + 1}}</td>
          <td>{{std.name}}</td>
          <td>{{std.team}}</td>
          <td>{{std.odiRuns}}</td>
          <td>{{std.testRuns}}</td>
          <td>{{std.yearDebut}}</td>
        </tr>
      </tbody>
    </table>
    </div>
  </div>
</div>